.about-category{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin: 2rem auto;
}
.about-category .box{
    position: relative;
    margin: 1rem;
    box-shadow: var(--box-shadow);
}
.about-category .box img{
    width: 60%;
}
.about-category .box:nth-child(3) img{
    width: 75%;
}
.about-category .box .detail{
    position: absolute;
    top: 30%;
    right: 10%;
}
.about-category .box .detail h1{
    margin-bottom: 1.5rem;
}
.about-category .box .detail span{
    text-transform: capitalize;
    font-size: 20px;
    color: #555;
}
.about-category .box .detail .btn{
    opacity: .6;
}
.about .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .row .detail{
    width: 50%;
    margin: 1rem;
    line-height: 1.5;
    text-align: center;
}
.about .row .detail p{
    margin-bottom: 2rem;
}
.about .row .img-box{
    width: 50%;
}
.about .row .detail h1{
    text-align: center;
    margin: 1rem;
}
.testimonial-container{
    padding: 6% 0;

}
.testimonial-container .container{
    position: relative;
    perspective: 1000;
    padding-top: 2rem;
}
.testimonial-container .container .testimonial-item{
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    color: gray;
    width: 100vh;
    margin: 0 auto;
    text-align: center;
    display: none;
    padding: 1rem;
    transform-style: preserve-3d;
    animation: slide .4s linear;
}
@keyframes slide{
    0%{
        transform: rotateX(180deg);
    }
}
.testimonial-container .container .testimonial-item > *{
    animation: slideContent .2s linear .4s backwards;
}
@keyframes slideContent{
    0%{
        transform: scale(.5);
        opacity: 0;
    }
}
.testimonial-container .container .testimonial-item.active{
    display: block;
}
.testimonial-container .container .testimonial-item h1{
    color: var(--green);
    font-size: 1.3rem;
    padding-bottom: .5rem;
    text-transform: capitalize;
}
.testimonial-container .container .testimonial-item img{
    padding: 1rem 0;
    border-radius: 50%;
}
.testimonial-container .container .left-arrow,
.testimonial-container .container .right-arrow{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color:#fff;
    box-shadow: var(--box-shadow);
    background: var(--green);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.testimonial-container .container .right-arrow{
    right: 3rem;
}
.testimonial-container .container .left-arrow{
    left: 3rem;
}