.main-container{
    background: #fff;
    width: 60vh;
    min-width: 80vh;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem 0;
}
.form-container{
    width: 50vw;
    margin: 0 auto;
}
.form-container input,
textarea{
    background-color: transparent;
    width: 85%;
}

textarea{
    height: 200px;
}
.form-container p{
    color: var(--green);
    margin-bottom: 0.5rem;
}
.form-container sup{
    color: red;
    font-size: 1.2rem;
    vertical-align: middle;
}
.main-container input[type=submit]{
    color: #000 !important;
    cursor: pointer;
}
.form-container form{
    margin: 1rem auto;
    background-color: rgb(255 255 255 / 80%);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    position: relative;
    border-radius: 5%;
}
.form-container form p{
    text-transform: uppercase;
}
.form-container form input{
    width: 85%;
}
.form-container form button{
    width: 85%;
    border-radius: 10%;
    outline: none;
}
.address{
    background-image: url('img/bg.jpg');
    padding: 4rem;
    min-height: 50vh;
}
.address .box-container{
    justify-content: center;
    align-items: 50vh;
}
address .box-container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    box-shadow: var(--box-shadow);
    line-height: 2;
    padding: 1rem 0;
}
.address .box-container .box h4{
    text-transform: uppercase;
    color: var(--green);
}
.address .box-container .box i{
    font-size: 1.5rem;
    margin-right: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green);
    color: #fff;
}