.services{
    padding: 3rem 0;
    text-align: center;
    line-height: 2;
    margin: 3rem 0;
}
.services h3{
    text-transform: capitalize;
    color: var(--green);
}
.services img{
    width: 30%;
}
.brand{
    margin: 2rem auto;
    text-align: center;
}