.thumb {
    max-width: 1200px;
    box-shadow: var(--box-shadow);
    margin: 2rem auto;
    padding: 2%;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.thumb .box-container .box {
    text-align: center;
    margin: 1rem;
    line-height: 1.5;
    background: #fff;
    padding-bottom: 1rem;
    color: gray;
}

.thumb .box-container .box img {
    transition: all 800ms ease-in-out;
}

.thumb .box-container .box:hover img {
    transform: rotateY(180deg);
}

.thumb .box-container .box h3 {
    text-transform: capitalize;
    color: var(--green);
}

.box-container .box p {
    color: #555;
    margin: .5rem;
}

.thumb .box-container .box i {
    color: var(--green);
    font-size: 40px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid var(--green);
    cursor: pointer;
}
